#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft Teams (Chrome)
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cifhbcnohmdccbgoicgdjpfamggdegmo
Icon=/home/tallonea/.icons/candy-icons/apps/scalable/teams.svg
StartupWMClass=crx_cifhbcnohmdccbgoicgdjpfamggdegmo
