[Desktop Entry]
Version=1.0
Type=Application
Name=Neovide
Comment=Neovide is a simple, modern, and highly-extensible Vim frontend
Exec=neovide %F
Icon=/home/tallonea/.icons/candy-icons/apps/scalable/neovide.svg
Type=Application
Categories=Development;TextEditor;Utility;
Keywords=neovide;vim;editor;text;code;neovim;
StartupWMClass=neovide
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Terminal=false
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
X-Flatpak-RenamedFrom=io.github.arkav.neovide
